<h3 mat-dialog-title *ngIf="dateNull == false"> Schedule Event on - {{this.datex | date:'fullDate' }} </h3>
<h3 mat-dialog-title *ngIf="dateNull == true"> Add Event</h3>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
  <br>
  <div class="container ">
    <mat-form-field>
    <mat-select placeholder="Event Category" *ngIf="showScheduler == true" [(ngModel)]="timeSetting">
    <!-- <mat-option value="Duration">duration basedAppt</mat-option> -->
    <mat-option value="Appointment">Task</mat-option>
    <!-- <mat-option value="Task">Task</mat-option> -->
    <mat-option value="Event">Event</mat-option>

    </mat-select>

    </mat-form-field>
    <mat-checkbox style="margin-left:10px; padding:5px" [(ngModel)]="recurrence">Recuring Event </mat-checkbox>

    <mat-form-field *ngIf="recurrence == true" style="padding:5px">
    <mat-select placeholder="RecurringEvery"  [(ngModel)]="recurrenceFreq">
    <mat-option value="Month">Monthly</mat-option>
    <mat-option value="Week">Weekly</mat-option>
    <mat-option value="Daily">Everyday</mat-option>
    </mat-select>

    </mat-form-field>

    <mat-form-field *ngIf=" recurrence == true && recurrenceFreq == 'Week'"  style="padding:5px">
    <mat-select placeholder="RecurringEvery" [(ngModel)]="recurrenceWeek" multiple>
    <mat-option value="Monday">Monday</mat-option>
    <mat-option value="Tuesday">Tuesday</mat-option>
    <mat-option value="Wednesday">Wednesday</mat-option>
    <mat-option value="Thursday">Thursday</mat-option>
    <mat-option value="Friday">Friday</mat-option>

    </mat-select>

    </mat-form-field>

    <mat-form-field  *ngIf=" recurrence == true && recurrenceFreq == 'Month'">
      <mat-select placeholder="RecurringEvery" [(ngModel)]="recurrenceMonth" multiple>
      <mat-option value="-1"> Last Day of the Month</mat-option>
      <mat-option *ngFor="let item of DayList"value="item">{{item}}</mat-option>


      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf=" recurrence == true && recurrenceFreq == 'Daily'">

      <input matInput placeholder="Interval" min="1" [(ngModel)]="recurrenceDay" [formControl]="rateControl">
      <mat-error>Range 1-100 (1 is everyday)</mat-error>

    </mat-form-field>

  </div>



<!--
  <div style="margin: 10px 0;"class="btn-group float-right" role="group" aria-label="Basic example">

    <button class="   btn btn-primary"  (click) ='scheduleEventshow()' > Schedule Event</button>
  <button class="   btn btn-primary"  (click) ='sendMessage()' > Add Task</button>
</div>

  <br> -->

<div class="" *ngIf="this.showScheduler== true">
  <div class="container-fluid " style="padding:20px">

    <table class="example-full-width" cellspacing='0'>
      <tr style="padding:30px">
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Task Name" value="">
          </mat-form-field>

  </td>

  <td *ngIf="timeSetting == 'Appointment'   " style="padding: 10px">
<div class="form-group">
  <label for="startdate">Click to edit Start date</label>
  <input
    class="form-control"
    id="startdate"
    type="text"
    mwlFlatpickr
    [(ngModel)]="jsonEvent.start"
    (ngModelChange)="refresh.next()"
    [altInput]="true"
    [convertModelValue]="true"
    [enableTime]="true"
    dateFormat="Y-m-dTH:i"
    altFormat="F j, Y H:i"
    placeholder='Click to enter Start Date'>
</div>
</td>


    <td style='width:20%' *ngIf="timeSetting == 'Duration' || timeSetting == 'Event'" >



        <mat-form-field >
          <input matInput  type='time' placeholder="Duration" [(ngModel)]="jsonEvent.duration" >
        </mat-form-field>
</td>

<td *ngIf="timeSetting == 'Appointment' || timeSetting == 'Task' " style="padding:10px">
  <div class="form-group">
    <label for="enddate">Click to edit End Date</label>
    <input
      class="form-control"
      id="enddate"
      type="text"
      mwlFlatpickr
      [(ngModel)]="jsonEvent.end"
      (ngModelChange)="refresh.next()"
      [altInput]="true"
      [convertModelValue]="true"
      [enableTime]="true"
      dateFormat="Y-m-dTH:i"
      altFormat="F j, Y H:i"
      placeholder='Click to enter End Date'>
  </div>
</td>

<td *ngIf="timeSetting == 'Duration'">
        <mat-form-field>
    <mat-select placeholder="Click to Edit"  placeholder='Units' [(value)]="jsonEvent.durationUnit" [(ngModel)]="jsonEvent.durationUnit">
      <mat-option value="Minutes">Minutes</mat-option>
      <mat-option value="Hours">Hours</mat-option>
      <mat-option value="FullDay">FullDay</mat-option>
    </mat-select>

  </mat-form-field>

</td>
    </tr>
</table>

<mat-form-field class="example-full-width">
<mat-label>Description</mat-label>
<textarea matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="7"
        [(ngModel)]="jsonEvent.description"
        ></textarea>
</mat-form-field>



<table>


    <tr style="padding:30px">

        <td style="padding:10px;">
          <mat-checkbox style="margin-left:10px; float: left; padding:5px" [(ngModel)]="jsonEvent.reminderNeeded">Set Reminder</mat-checkbox>



        </td>

        <td *ngIf="jsonEvent.reminderNeeded" style= "padding:10px">

          <mat-checkbox style="float: left; padding:5px" [(ngModel)]="jsonEvent.reminderFreqNeeded">Set Frequent Reminder </mat-checkbox>
        </td>

        <td *ngIf="jsonEvent.reminderNeeded" style= "padding:10px">
          <mat-form-field >
            <input matInput  type='text' placeholder="Reminder Quote" [(ngModel)]="jsonEvent.reminderQuote" >
          </mat-form-field>

      </td>

      </tr>

       <tr style=" padding:30px" *ngIf="jsonEvent.reminderNeeded">

        <td  style="margin:10px;">
          <div class="form-group">
            <label for="enddate">Click to set reminder Date</label>
            <input
              class="form-control"
              id="enddate"
              type="text"
              mwlFlatpickr
              [(ngModel)]="jsonEvent.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder='Click to enter End Date'>
          </div>

        </td>



        <td  style="margin:10px;">


            <mat-form-field style="padding : 20px;"  *ngIf="jsonEvent.reminderFreqNeeded "  >
              <span>
              <input style ="max-width:100px" matInput [(ngModel)]='jsonEvent.reminderFreq' type='number' placeholder="time" >

              <mat-select [(value)]="selected" style ="max-width:100px"  [(ngModel)]="jsonEvent.reminderFreqDuration" >
                <mat-option>None</mat-option>
                 <mat-option value="Minutes">Minutes</mat-option>
                <mat-option value="Hours">Hours</mat-option>
                <mat-option value="Days">Days</mat-option>
               </mat-select>
             </span>

            </mat-form-field>


        </td>

        <td style= "margin:10px">
          <button  mat-stroked-button > Attach Reminder ringtone<mat-icon>add</mat-icon></button>
        </td>


      </tr>

  <tr>
    <td>
      <mat-form-field>
        <mat-select placeholder="Prioity" [(value)]="jsonEvent.priority" [(ngModel)]="jsonEvent.priority">
          <mat-option value="High">High</mat-option>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <label for="buddies"> Select Associates:  </label>
        <ng-multiselect-dropdown style="min-width: 300px"
        id="buddies"
      [placeholder]="'custom placeholder'"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      [(ngModel)]="jsonEvent.with"
      >
      </ng-multiselect-dropdown>


    </td>

  </tr>

  <tr>
    <td >
      <button mat-raised-button name="button"> Attach Documents</button>
    </td>
  </tr>
</table>



  </div>

</div>
<div *ngIf="this.showEvents == false && this.showScheduler==false">
    <h3 style="color:red"> NoEvents! </h3>
</div>

<div *ngIf="this.showEvents===true">
  <table class=" example-full-width table table-bordered">

    <thead>
      <tr>
        <th>Title</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th> With </th>
        <th>Actions</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events; let index = index">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()">
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set">
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set">
        </td>
        <td>
          <ng-multiselect-dropdown
  [placeholder]="Invitee"
  [data]="dropdownList"
  [(ngModel)]="event.with"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)">
</ng-multiselect-dropdown>

        </td>
        <td>
          <i class="fa fa-fw fa-times" (click)="events.splice(index, 1); refresh.next(); id= id-1;"></i>
        </td>
      </tr>
    </tbody>

  </table>

</div>

 </mat-dialog-content>
 <mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-raised-button color='warn' mat-dialog-close>Cancel</button>
  <button mat-raised-button *ngIf="showScheduler == false" (click) ='sendMessage()'  [mat-dialog-close]="true" cdkFocusInitial>Done</button>
  <button mat-raised-button color='primary' *ngIf="showScheduler == true" (click) ='scheduleEvent()'  [mat-dialog-close]="true" cdkFocusInitial>Schedule Event</button>

</mat-dialog-actions>
