<div>

<div class= "createButton">

  <button mat-raised-button  color='primary' *ngIf="showCreateProject == false" class="button" (click)='switchView()' name="button"> Create project</button>

  <button  mat-raised-button color='primary' *ngIf="showCreateProject" type="button" name="button" (click)='switchView()'> View all projects</button>

  <mat-divider></mat-divider>

</div>

<div *ngIf="showCreateProject==false" class="">

<p> Showing All Projects</p>

</div>

<div  *ngIf="showCreateProject" class="">

<!--

<h3> showing create projects</h3>

<input class="form-control"
             type="text"
             mwlFlatpickr
             [(ngModel)]="rangeValue"
             [altInput]="true"
             [convertModelValue]="true"
             mode="range"
             [enableTime]="true">

{{rangeValue.from}}
{{rangeValue.to}} -->

<div class="container">
  <h1 style="text-align:center">Create Project </h1>
  <form (ngSubmit)="onSubmit()" #projForm="ngForm">
    <!-- Row-->
    <div class="form-row">
      <div class=" col-5" style="min-width:75%">
        <!-- <label for="name">Name</label> -->


        <mat-form-field style="width:100%">
          <input type="text"  placeholder="Enter Project Name" matInput required [(ngModel)]="model.name" name="name" #name="ngModel" >
        </mat-form-field>

        <div style="color:red" [hidden]=" name.untouched || name.valid ">
          Name is required
        </div>

      </div>

      <div class="form-group col-5" style="min-width: 100%">
        <!-- <label for="Description">Description</label> -->
        <mat-form-field style="width:100%">
        <textarea  [(ngModel)]="model.description " placeholder="Description" matInput rows="2"  name="description" id="Description">
        </textarea>
      </mat-form-field>

      </div>
    </div>

    <!-- Row-->

    <!-- Row-->
    <div class="form-row">
      <div class="form-group col-5">

        <ng-select [multiple]='true' placeholder='Choose Workers' class="custom" id="inlineFormCustomSelect" required [items]=dropdownSearch [(ngModel)]="model.worker" name="worker" #worker="ngModel">
        </ng-select>



        <div style="color:red" [hidden]=" worker.untouched || worker.valid ">
          Choose Worker
        </div>

      </div>

      <div class="form-group col-5">


        <mat-form-field style="width:100%">
          <mat-select placeholder='Project Type' name='type' [(ngModel)]="model.type">
            <mat-option value="regular" >Regular</mat-option>
            <mat-option value="AdHoc">Ad Hoc</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- <label class="mr-sm-2" for="type">Type</label>
        <select class="custom-select mr-sm-2" id="type" [(ngModel)]="model.type" name="type" #type="ngModel">
              <option  value="regular" >Regular</option>
              <option value="template">Template</option>
            </select> -->

      </div>
    </div>


    <!-- Row-->
    <div class="form-row">
      <div class="form-group col-5">

        <ng-select [multiple]='true' placeholder='Choose Observers' class="custom" id="Observer" required [items]=dropdownSearch [(ngModel)]="model.observer" name="observer" #observer="ngModel">
        </ng-select>
        <div style="color:red" [hidden]=" worker.untouched || worker.valid ">
          Choose Worker
        </div>


      </div>

      <div class="form-group col-5">

        <!-- <label class="mr-sm-2" for="risk">Risk</label>
        <select class="custom-select mr-sm-2" id="risk" required  name="risk" #risk="ngModel">
                    <option value="Low">Low</option>
                    <option  value="Medium" >Medium</option>
                    <option value="High">High</option>
                    <option value="Critical">Critical</option>
                  </select> -->


                  <mat-form-field style="width:100%">
                    <mat-select placeholder='Project Type'[(ngModel)]="model.risk" name='risk'>
                      <mat-option value="Low">Low</mat-option>
                      <mat-option value="AdHoc">Medium</mat-option>
                      <mat-option value="High">High</mat-option>
                      <mat-option value="Critical">Critical</mat-option>

                    </mat-select>
                  </mat-form-field>



      </div>
    </div>

    <div class="form-row">
      <div class="col">
      </div>
      <div class="col form-inline" style='padding:10px;'>
      <!-- <tr><td><label for="dt3">Project StartDate : </label></td><td><input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" style="" [(ngModel)]='model.pstartDate' placeholder="Choose Start Date">
      <owl-date-time #dt1></owl-date-time>
</td></tr> -->
      </div>
      <div class="col" style='padding:10px;'>
        <button (click)="addPhase()" style='margin-left:10px;' type="submit" class="btn btn-primary">Add Phase</button>
      </div>
    </div>

  </form>
</div>


<div style="max-width: 100%" >
  <table class="table table-hover">
    <thead>
      <th *ngFor="let heading of displayedColumns"> {{heading}}</th>
    </thead>

    <tbody *ngFor="let element of localData; let i = index">
      <tr style="background-color:#d8fffd">
        <td>{{i + 1}}</td>
        <td>
          <mat-form-field style="max-height:5px;max-width: 120px;" class="example-full-width">
            <input matInput [(ngModel)]='element.name' placeholder="Phase Name" autofilled cdkTextareaAutosize>
          </mat-form-field>
        </td>
        <td>{{element.duration}}</td>
        <td></td>
        <td>{{element.worker}}</td>
        <td>{{element.startdate}}</td>
        <td>  </td>
        <!-- <td>{{element.statusPercentage}}</td> -->
        <td>


          <button style="margin: 10px " mat-icon-button [matMenuTriggerFor]="phasemenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #phasemenu="matMenu">
            <button mat-menu-item (click)="toggle(element)">
              <mat-icon>add</mat-icon>
              <span>Toggle</span>
            </button>

            <button  mat-menu-item (click)="addTask(i)">
              <mat-icon>add</mat-icon>
              <span>Add Task</span>
            </button>

            <button  mat-menu-item>
              <mat-icon>clear</mat-icon>
              <span>Delete</span>
            </button>


          </mat-menu>

        </td>
      </tr>
      <!--tr class="row">
            <div [attr.id]="'gameDetails' + i" class=" collapse">
              Hidden by default
            </div>
          </tr-->
      <ng-container class="Hidden" [attr.id]="'gameDetails' + i" *ngIf="element.show">

        <tr *ngFor="let task of element.taskData; let y = index " >
          <td>{{i +1}}.{{y + 1}}</td>
          <td>
            <mat-form-field style="max-height:5px; max-width:120px" class="example-full-width">
              <input matInput [(ngModel)]='task.name' placeholder="Task Name" autofilled cdkTextareaAutosize>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="max-width: 120px" >
              <span>

              <input style ="max-width:35px" matInput [(ngModel)]='task.duration' type='number' placeholder="time" autofilled cdkTextareaAutosize>

              <mat-select [(value)]="selected" style ="max-width:85px"  [(ngModel)]="task.durationType" >
                <!-- <mat-option>None</mat-option> -->
                <mat-option value="Minutes">Minutes</mat-option>
                <mat-option value="Hours">Hours</mat-option>
                <mat-option value="Days">Days</mat-option>
              </mat-select>
            </span>

            </mat-form-field>

          </td>
          <td>
            <select style=" max-width:100px; margin-top:10px;" class="custom-select mr-sm-2" required [(ngModel)]="task.predecessor" >
                        <option *ngFor="let x of element.taskData;let z= index" value="z">{{i+1}}.{{z+1}}</option>

            </select>
          </td>
          <td >
            <ng-select placeholder='Select Workers' [multiple]='true' class="custom" id="inlineFormCustomSelect" required [items]=dropdownSearch [(ngModel)]="task.worker" >
            </ng-select>
          </td>

          <td class="row">

                <input  class="form-control"
                type="text"
                style="max-width:100px ; margin-top:20px;"
      mwlFlatpickr
      [(ngModel)]="task.startdate"
      (ngModelChange)="refresh.next()"
      [altInput]="true"
      [convertModelValue]="true"
      [enableTime]="true"
      dateFormat="d-m-yyTH:i"
      altFormat="F j, Y H:i"
      placeholder='Start Date'>

          </td>
          <td>
            <button style="margin: 14px " mat-icon-button (click)='openProjDialog()' >
              <mat-icon>calendar_today</mat-icon>
            </button>

          </td>


          <!-- <td>

            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="task.endDate"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder='Click to enter Start Date'>
            </td> -->

          <!-- <td>
            <mat-form-field style="max-height:5px; max-width:130px" class="example-full-width"> -->
              <!-- <input matInput [(ngModel)]='task.statusPercentage' placeholder="Click to Enter" autofilled cdkTextareaAutosize> -->
              <!-- <p matSuffix> % </p> -->
              <!-- <input matInput [(ngModel)]='task.statusText' placeholder="Click to Enter" autofilled cdkTextareaAutosize>
            </mat-form-field> -->
          <!-- </td> -->
          <td>
              <button style="margin: 10px " mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>add</mat-icon>
                  <span>Insert Task Above</span>
                </button>
                <button mat-menu-item >
                  <mat-icon>add</mat-icon>
                  <span>Insert Task Below </span>
                </button>
                <button mat-menu-item>
                  <mat-icon>import_export</mat-icon>
                  <span>Change Phase</span>
                </button>
                <button  mat-menu-item>
                  <mat-icon>clear</mat-icon>
                  <span>Delete</span>
                </button>


              </mat-menu>

          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
<br>
  <mat-divider></mat-divider>
<br>
<div class=" align: center;float: middle;">
  <button type="submit" (click)=" CreateProject()" class="btn btn-success">Submit</button>
  <button style='margin-left:10px;' class="btn btn-danger">Reset</button>
  <button style='margin-left:10px;' class="btn btn-warning">Cancel</button>

</div>

  </div>
</div>


</div>
