<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm  bg-faded" style="padding:5px">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-align-justify"></i>


</button>

<!-- Brand -->
<a class="navbar-brand" style="padding:0px" href="#">
<img src="/src/app/de.png" alt="Logo" style="max-height:40px; padding:0px; margin:0px 10px;">
</a>

<!-- Links -->
<div class="collapse navbar-collapse" id="nav-content">
<ul class="navbar-nav">
<li class="nav-item">
<button class="btn btn-link" name="button"> Link0</button>
</li>
<li class="nav-item">
  <button class="btn btn-link" name="button"> Link1</button>
</li>
<li class="nav-item">
  <button class="btn btn-link" name="button"> Link2</button>
</li>
</ul>
</div>

<ul class='navbar-nav mr-auto'>
  <li class="nav-item">
    Welcome, {{this.username}}
  </li>
  <li class="nav-item">
    <i class="material-icons">
notifications</i>
  </li>
  <li class="nav-item">
    <button class="btn btn-danger" name="button"> Logout</button>
  </li>
</ul>

</nav>


<router-outlet></router-outlet>
