/* You can add global styles to this file, and also import other style files */
body {
  max-height : 100vh;

}
.col-12{
  padding-left: 0px;
  padding-right: 0px;


}
.row {
  margin: 0 0 0 0;
}
.btn-link{
  color: white;
}
.fas{
  color: white;
}
