/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'flatpickr/dist/flatpickr.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  max-height : 100vh;
  overflow: auto;
}

app-root {

  max-height: 97vh
}
app-root {

  max-height: 40vh
}
