/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'flatpickr/dist/flatpickr.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@ng-select/ng-select/themes/material.theme.css";


@import "~@ng-select/ng-select/themes/material.theme.css";


body {
  max-height : 100vh;
  overflow: auto;
}
.md-dialog-container {
   height: 100vh !important; top: 0 !important; position:  !important; }
