
<div class =" col-12 row total"  >
  <div class = " sideL col-2 "  >

    <h3 style="text-align:center"> Tasks</h3>
    <mat-divider ></mat-divider>

        <button mat-button *ngIf="showDashboard == false"  (click)="dashCalSwitch()" class="btnz">Dashboard</button>

        <button mat-button *ngIf="showDashboard" (click)="dashCalSwitch()" class="btnz">Calendar</button>

        <mat-divider></mat-divider>


        <button mat-button (click)='openDialog()' class="btnz ">PlanEvent</button>
        <mat-divider></mat-divider>


        <button mat-button  class="btnz">Primary</button>
        <mat-divider></mat-divider>

        <mat-expansion-panel class="btn2">
     <mat-expansion-panel-header>
       <mat-panel-title style="color:white; text-align:left;   margin-left: 0px
">
         Personal data
       </mat-panel-title>
     </mat-expansion-panel-header>
     <mat-divider></mat-divider>
     <button mat-button  class="btnz btn2">Primary</button>
     <mat-divider></mat-divider>

     <button mat-button  class="btnz btn2">Primary</button>
     <mat-divider></mat-divider>

     <button mat-button  class="btnz btn2">Primary</button>
     <mat-divider></mat-divider>

     <button mat-button  class="btnz btn2">Primary</button>
     <mat-divider></mat-divider>


   </mat-expansion-panel>

<mat-divider></mat-divider>

        <button mat-button  class="btnz">Primary</button>
        <mat-divider></mat-divider>

        <button mat-button  class="btnz">Primary</button>
        <mat-divider></mat-divider>

  </div>
<div class="col-8  viewer " *ngIf="showDashboard==false">
  <app-cal-viewer></app-cal-viewer>
</div>
  <div class="col-2 eventShowcase" *ngIf="showDashboard==false">
    <h3> Upccoming Events </h3>
    <mat-divider></mat-divider>

  </div>
  <div class="col-10   container" *ngIf="showDashboard" style="padding: 20px;" >
    <app-dashboard></app-dashboard>
  </div>

</div>
