<div class="containter">
  <h3 mat-dialog-title > {{this.option}}</h3>
  <mat-divider></mat-divider>
</div>
<mat-dialog-content>

  <!--Input Forms-->

  <div class="" >
    <div class="container " style="padding:20px">

      <table class="example-full-width justify-content-center" cellspacing='0'>
        <tr>
          <td>


            <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Item" [formControl]='reqControl' [(ngModel)]="this.item">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>This Field is Required</mat-error>

                  </mat-form-field>

    </td>
    <td style="margin:10px">
      <mat-form-field class="example-full-width" >
    <input matInput type="number" placeholder="Quantity required" [formControl]='quantityCont' [(ngModel)]="quantity">
    <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
      <mat-icon>close</mat-icon>
    </button>

    <mat-error>A value of atleast 1 is required.</mat-error>

  </mat-form-field>
    </td>
    <td  *ngIf="option == 'Buy'" style="margin:20px">
          <input
            id="dueDate"
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="dueDate"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder='Required by'>
  </td>

<td *ngIf="option == 'Sell'">

  <mat-form-field>
    <input matInput  type='number' placeholder="Duration To delivery" [(ngModel)]="duration" >
  </mat-form-field>

</td>

<td *ngIf="option == 'Sell'">

  <mat-form-field>
<mat-select placeholder="Click to select Unit" [(value)]="durationUnit" [(ngModel)]="durationUnit">
<mat-option value="Minutes">Minutes</mat-option>
<mat-option value="Hours">Hours</mat-option>
<mat-option value="Days">Days</mat-option>
</mat-select>

</mat-form-field>


</td>


      </tr>


      <tr *ngIf="option == 'Buy'">
        <td>     <mat-checkbox [(ngModel)]="reqMaint"> Require Maintenance?</mat-checkbox>
      </td>

        <td>     <mat-checkbox [(ngModel)]="recurOrder"> Auto Refill Inventory ?</mat-checkbox>
      </td>

        <td *ngIf="recurOrder">
        <mat-form-field>

          <input matInput class="example-full-width" type="number" placeholder="Minimum stock"  [(ngModel)]="minStock">
        </mat-form-field>

        </td>


          </tr>


<tr *ngIf="this.option == 'Sell'">
  <td>
    <!-- We reuse this for sell as well! -->
    <mat-checkbox [(ngModel)]="reqMaint"> Maintenance offered?</mat-checkbox>
  </td>

  <td>
    <mat-checkbox [(ngModel)]="warrantyReq"> Warranty offered?</mat-checkbox>

  </td >

  <td *ngIf="warrantyReq" [(ngModel)]="warrantyPer">
    <mat-form-field class="example-full-width">

    <input type="number" matInput placeholder= "Warranty Period" [(ngModel)]="warrantyPer" >

    <p matSuffix> Years</p>

    </mat-form-field>

  </td>

  <td>     <mat-checkbox [(ngModel)]="condMonitor"> Condition Monitoring ?</mat-checkbox>
</td>

</tr>


      </table>




      <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="7"
              [(ngModel)]="description"
              ></textarea>
  </mat-form-field>

  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input type="number" step='0.01' matInput placeholder="Cost Per Unit" [(ngModel)]="costPU">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

      </td>

      <td>
        <mat-form-field class="example-full-width">
          <input type="number" step='0.01' matInput placeholder="TotalCost" [(ngModel)]="quantity * costPU ">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </td>

</tr>
  </table>


  <!-- Delivery Details / Maps -->

<h3> Location Details</h3>

<div class="form-group">
  <input placeholder="search for location" autocorrect="off"
   autocapitalize="off" spellcheck="off" type="text" class="form-control"
    #search [formControl]="searchControl">


</div>

<div  class="row"*ngIf="option=='Sell'" >
<mat-form-field class="">

<input type="number" matInput placeholder=" Delivery radius" [(ngModel)]="radius" >

<p matSuffix>Kilo Meters</p>

</mat-form-field>

<p style="margin: auto;">
    Please move the circle in order to adjust your delivery zone
</p>

</div>
  <agm-map [latitude]="latitude" [longitude]="longitude">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    <agm-circle *ngIf="option== 'Sell'"
              [latitude]="latitude"
              [longitude]="longitude"
              [circleDraggable]="true"
              [editable]="true"
              [fillColor]="color"
              [radius]="radius * 1000">
  </agm-circle>


  </agm-map>


</div>
</div>



</mat-dialog-content>
<mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Cancel</button>
 <button mat-button    [mat-dialog-close]="true" cdkFocusInitial>Done</button>
 <!-- <button mat-button    [mat-dialog-close]="true" cdkFocusInitial>CheckAvailability</button> -->

</mat-dialog-actions>
