mat-dialog-content{

  min-height: 50vh;
}
.example-full-width {
  width: 100%;
}

table{
  max-width: 90%;
}


td{
  padding-right: 15px;
}
agm-map {
  height: 300px;
}

.pac-container {
  left: 276px;
  top: 587px;
}